Repository Arthi-chaud/Meelo, pull requests merged in 2025-08, with the labels that each got.

#1096 Front: Release Date's format: Handle underscore
  front/packages/ui/src/pages/release.tsx
Labels: Fixes

#1097 Server: Bump Deps
  server/package.json
  server/yarn.lock
Labels: Security, Server, Dependencies

#1099 Server: Bump Jest
  server/package.json
  server/yarn.lock
Labels: Security, Server, Dependencies

#1100 CI: Mobile: Fix trigger for build
  .github/workflows/front-mobile.yml
Labels: CI/CD, Front (Mobile)

#1101 Front: Web: i18n: Handle Fallback on empty strings
  front/apps/web/src/i18n.tsx
Labels: Front (Web), Translation

#1103 Front: Mobile: Build for prod produces APK
  front/apps/mobile/eas.json
Labels: CI/CD, Fixes, Front (Mobile)

#1110 Front: Mobile: Bump deps to prevent tabs from crashing on press
  front/apps/mobile/package.json
  front/yarn.lock
Labels: Dependencies, Front (Mobile)

#1106 Translations update from Hosted Weblate
  front/translations/fr.json
  front/translations/pt.json
Labels: Translation

#1113 Front: Mobile: APP_VARIANT env var, app.config.ts and set name to dev apk
  front/apps/mobile/app.config.ts
  front/apps/mobile/app.json
  front/apps/mobile/eas.json
  front/apps/mobile/package.json
Labels: Front (Mobile)

#1116 Front: Mobile: use SelectBottomModalContent for 'Change Type' actions
  front/apps/mobile/src/components/bottom-modal-sheet/select.tsx
  front/apps/mobile/src/components/change-type.tsx
Labels: Front (Mobile)

#1135 Web: Fix broken infinite Scroll in modals
  front/apps/web/src/components/actions/merge.tsx
  front/apps/web/src/components/actions/playlist.tsx
  front/apps/web/src/components/infinite/scroll.tsx
Labels: Front (Web)

#1140 Scanner: Face Detection: Close img
  scanner/internal/illustration/thumbnail.go
Labels: Scanner

#1141 Front: Web: Fix context menu behind expanded player
  front/apps/web/src/components/contextual-menu/index.tsx
Labels: Front (Web)

#1146 Translations update from Hosted Weblate
  front/translations/de.json
Labels: Translation
