Repository Arthi-chaud/Meelo, pull requests merged in 2025-07, with the labels that each got.

#1071 Translations update from Hosted Weblate
  front/translations/it.json
Labels: Translation

#1073 Server: Use prefix for transcoder
  server/src/stream/stream.service.ts
Labels: Server

#1079 Scanner: Docker: Fix version arg lifetime
  scanner/Dockerfile
Labels: CI/CD

#1075 Translations update from Hosted Weblate
  front/translations/de.json
  front/translations/pt-BR.json
  front/translations/pt.json
Labels: Translation

#1083 Server: Ignore 'Video Remix' as extension
  server/src/parser/parser.service.spec.ts
  server/src/parser/parser.service.ts
Labels: Server

#1084 CI: Mobile: Give APK a proper name
  .github/workflows/front-mobile.yml
Labels: CI/CD, Front (Mobile)

#1086 Translations update from Hosted Weblate
  front/translations/pt-BR.json
Labels: Translation

#1091 Front: Fix infinite calls to .refetch()
  front/apps/web/src/api.ts
Labels: Front (Web), Fixes
